body, html {
    min-width: 320px;
    height: 100%;
    background-color: cornflowerblue;
    color: #000000;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-family: Verdana, Arial;
}

body {
    padding-top: 60px;
}

.footer {
  background-color: darkblue;
  font-size: 12px;
  color: #ffffff;
}

.navbar-default .navbar-fnt {
    color: #FFFFFF;
}
.navbar-default .navbar-backgrnd {
    color: #ff5500;
}
navbar-offset {
   top: 25px; /*Offsets the top navbar 37px from the top of the viewport*/
}

.navbar-header{
  height: 60px;
  margin: 0;
}

.navbar-brand {
  width: 220px;
  margin: 0;
}

.nav {
    color: #aaaaaa;
    font-size: 16px;
}

.container-fluid.scrollable {
    height: 100%; /*Sets the scrollable area to 100% of the viewport*/
    overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
    margin: 0;
}

.myNavbar {
    margin: 5px;
}

.myContainer{
    font-size: 16px;
    color: black;
}

@media (min-width:769px) {
}


@media (max-width:768px) {
}

@media (max-width:768px) and (orientation: landscape) {
}

@media (max-width:768px) and (orientation: portrait){
}

